    <div id="section1">
		<header id="header-area" class="intro-section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<div class="header-content">
							<h1>My Car Travel</h1>
							<h4>Welcome to My Car Travel.</h4>
                            <h4>Car Service in Seattle.</h4>
                            <h4>(206) 257-9362</h4>
						</div>
					</div>
				</div>
			</div>
		</header>
	</div>

	<div id="section2">        
        <div class="container">
            <hr/>
							<div class="row">
								<div class="col-lg-12">
									<div class="tm-box">                                        
										<div class="tm-box-description">
											<h1>About Us</h1>
                                            <%= image_tag("20170909_112309_1080.jpg", :alt => "Image", :class => "img-responsive") %>
                                <h3>Car Travel in Seattle - My Car Travel</h3>
								<p class="tm-box-p">My Car Travel in Seattle gives you a reliable and safe town car in Seattle at reasonable price. We offer alternative transportation to Sea-Tac airport. 
                                <a href="https://mycartravel.com/">https://mycartravel.com/</a> </p>
                                            
										</div>                        
									</div>                    
								</div>
							</div>
        </div>
        
		<!-- Start Feature Area -->
		<section id="feature-area" class="about-section">
			<div class="container">
				<div class="row text-center inner">
					<div class="col-sm-6">
						<div class="feature-content">
                            <%= image_tag("20170909_112221_538.jpg", :alt => "Image", :width => "190") %>
							<h2 class="feature-content-title blue-text">David Chong</h2>
                            <p class="feature-content-description">Your friendly driver David Chong.</p>							
						</div>
					</div>
					<div class="col-sm-6">
						<div class="feature-content">
                            <%= image_tag("20170909_112250_538.jpg", :alt => "Image") %>
							<h2 class="feature-content-title blue-text">2017 Chrysler 300</h2>
							<p class="feature-content-description">BER8599</p>                  
						</div>
					</div>                    
				</div>
			</div>
		</section>
		<!-- End Feature Area -->

        </div>
        <!-- End section2  -->

			<div id="section3">
				<!-- Start Services (Rates) Area -->
				<section id="services-area" class="services-section">
                    
			<div class="container">
                <hr/>
                <h1>Rates</h1>
				<div class="row text-center inner">
					<div class="col-sm-6">
						<div class="blog-content">                            
							<h2>Fares</h2>
							<p>Fares to Sea-Tac Airport:</p>
                            <ul>
                                <li>Seattle (Downtown): US$50.</li>
                                <li>Ballard: US$50.</li>
                                <li>Bellevue: US$50.</li>
                                <li>Renton: US$50.</li>
                                <li>Burien: US$50.</li>
                                <li>Kent: US$50.</li>                                
                            </ul>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="blog-content">
								<h2>Book now</h2>
								<p>The booking function is under construction.</p>
								</div>
							</div>
						</div>
					</div>                    
					</section>
					<!-- End Services (Rates) Area -->                
				</div>
                <!-- End section 3 -->

				<div id="section4">
					<!-- Start Contact Area -->
					<section id="contact-area" class="contact-section">
                        
            <div class="container">
                <hr/>
                <h1>Contact Us</h1>
				<div class="row text-center inner">
					<div class="col-sm-4">
						<div class="feature-content">                            
							<h2 class="feature-content-title blue-text">Better yet, see us in person!</h2>
							<p class="feature-content-description">We love our customers, so feel free to visit during normal business hours.</p>
                            
						</div>
					</div>
					<div class="col-sm-4">
						<div class="feature-content">                            
							<h2 class="feature-content-title blue-text">My Car Travel</h2>
							<p class="feature-content-description">13745 42nd Ave S, Tukwila, WA 98168, USA<br/><br/>(206) 257-9362 (Text Message)</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="feature-content">                            
							<h2 class="feature-content-title blue-text">Business Hours</h2>
                    <p class="feature-content-description">
Monday: 6 am - 6 pm<br/>
Tuesday: By appointment<br/>
Wednesday: 6 am - 6 pm<br/>
Thursday: 6 am - 6 pm<br/>
Friday: 6 am - 6 pm<br/>
Saturday: By appointment<br/>
Sunday: 6 am - 6 pm<br/><br/>

Email: jimmychong_st@yahoo.com</p>							
						</div>
					</div>
				</div>
			</div>                        
						</section>
						<!-- End Contact Area -->
					</div>
                    <!-- End section4 -->