					<!-- Start Footer Area -->
					<footer id="footer-area">                                                
							<hr>
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">             
										<p class="copy">Copyright © 2018 My Car Travel - All Rights Reserved.</p>
									</div>
								</div>
							</div>
						</footer>
						<!-- End Footer Area -->
